<header>
   <div class="search">
      <img src="icons/magnifying-glass-solid.svg" alt="" />
      <input type="search" />
   </div>
   <div class="profile-info">
      <span class="profile-pic"></span>
      <h2>morgan oakly</h2>
   </div>
   <div class="greeting">
      <span class="profile-pic"></span>
      <span
         ><p>hi there</p>
         <h1>morgan oakly (@morgan)</h1></span
      >
   </div>
   <div class="options">
      <ul>
         <li>new</li>
         <li>upload</li>
         <li>share</li>
      </ul>
   </div>
</header>
