<div class="sidebar">
   <ul>
      <li class="logo">
         <span>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
         </span>
         <h1>Dashboard</h1>
      </li>
      <li><img src="icons/house-solid.svg" alt="" /> <span> home </span></li>
      <li><img src="icons/user-solid.svg" alt="" /> <span> profile</span></li>
      <li>
         <img src="icons/message-solid.svg" alt="" />
         <span> massages</span>
      </li>
      <li><img src="icons/clock-solid.svg" alt="" /> <span> history</span></li>
      <li>
         <img src="icons/list-check-solid.svg" alt="" />
         <span> tasks</span>
      </li>
      <li>
         <img src="icons/bars-solid.svg" alt="" />
         <span> communities</span>
      </li>
      <li><img src="icons/gear-solid.svg" alt="" /> <span> settings</span></li>
      <li>
         <img src="icons/circle-question-solid.svg" alt="" />
         <span> support</span>
      </li>
      <li>
         <img src="icons/shield-halved-solid.svg" alt="" />
         <span> privacy</span>
      </li>
   </ul>
</div>
